<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="box">
          <div class="col-sm-6 col-sm-6">
            <div class="card text-bg-dark">
              <!-- <picture>
              <source srcset="./css/cpn.jpg" type="image/svg+xml" />
              <img
                src="./css/cpn.jpg"
                class="img-fluid img-thumbnail"
                alt="IMAGEN"
              />
            </picture> -->
              <img src="./css/cpn.jpg" alt="Card image" />
              <div class="card-img-overlay">
                <h3 class="card-title">Cuenta de Ahorro</h3>
                <h5 class="card-text">989899546468489</h5>
                <p style="font-size: 4rem">$700.00</p>
                <div class="d-flex bd-highlight">
                  <div
                    class="p-2 bd-highlight"
                    style="display: flex; flex-direction: column"
                  >
                    <label style="font-size: 0.8rem">INTERÉS GANADO</label>
                    <label style="font-size: 0.8rem"> <b> $150.00 </b> </label>
                  </div>

                  <div
                    class="p-2 bd-highlight"
                    style="display: flex; flex-direction: column"
                  >
                    <label style="font-size: 0.8rem">TASA DE INTERÉS</label>
                    <label style="font-size: 0.8rem"> <b>15,4%</b> </label>
                  </div>
                </div>
                <div class="d-flex bd-highlight">
                  <div class="p-2 w-100 bd-highlight">
                    <p style="font-size: 1rem">
                      SIMULADOR DE AHORRO PROGRAMADO
                    </p>
                  </div>
                  <div class="p-2 flex-shrink-1 bd-highlight">
                    <a href="#" class="btn btn-light">VER RENDIMIENTO</a>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="p-2">
                    <p style="font-size: 1rem">
                      SIMULADOR DE AHORRO PROGRAMADO
                    </p>
                  </div>
                  <div class="ms-auto p-2">
                    <a href="#" class="btn btn-light">VER RENDIMIENTO</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <img src="./css/cpn.jpg" alt="Card image" />
</html>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #757071;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  border: 0.3rem solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
img {
  width: 100%;
  height: 300px;
}
.box {
  height: 30rem;
  flex-basis: 10rem;
  flex-grow: 1;
}
/* 


.foo-car {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
} */
