<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="" style="  padding: 24px 50px;
    background-color: #454142;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" style="background-color: unset;">
            <div class="col" style="background-color: unset;">
                <div class="">
                    <div class="" style="border-radius: 6px;
                    padding: 10px;
                    background-color: orange;margin: 30px 0;min-height: 230px;">
                        <p style="background-color: unset;margin-bottom: unset;
                        color: #FFF;"> Cuenta ahorro</p>
                        <p style="background-color: unset;margin-bottom: unset;
                        color: #FFF;">123151</p>
                        <p style="
                            margin-bottom: unset;
                            font-size: 40px;
                            padding: 3px 0px;
                            background-color: unset;
                        color: #FFF;
                            ">$700.00</p>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" style="  background-color: unset;">
                            <div class="col" style="  background-color: unset;">
                                <P style="  background-color: unset;font-size: 10px;"><br></P>
                                <P style="  background-color: unset;font-size: 10px;"><br></P>
                            </div>
                            <div class="col" style="  background-color: unset;">
                                <P style="  background-color: unset;font-size: 10px;"><br></P>
                                <P style="  background-color: unset;font-size: 10px;"><br></P>
                            </div>
                        </div>
                        <div style="
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: end;
                        align-items: end;
                        background-color: unset;
                        color: #FFF;">
                            <div style="background-color: unset;">
                                <button style="padding: 8px 18px;
                                border-radius: 6px;
                                background-color: #FFF;
                                color: orange;
                                font-size: 12px;">VER MOVIMIENTO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="background-color: unset;">
                <div class="">
                    <div class="" style="border-radius: 6px;
                    padding: 10px;
                    background-color: #FFFFFF;margin: 30px 0;min-height: 230px;">
                        <p style="background-color: unset;margin-bottom: unset;
                        color: #454142;"> Cuenta ahorro</p>
                        <p style="background-color: unset;margin-bottom: unset;
                        color: #454142;">123151</p>
                        <p style="
                            margin-bottom: unset;
                            font-size: 40px;
                            padding: 3px 0px;
                            background-color: unset;
                        color: #454142;
                            ">$500.00</p>

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4"
                            style="  background-color: unset;">
                            <div class="col" style="  background-color: unset;">
                                <P style="  background-color: unset;font-size: 10px;"> INTERES GANADO </P>
                                <P style="  background-color: unset;font-size: 10px;">TASA DE INTERES </P>
                            </div>
                            <div class="col" style="  background-color: unset;">
                                <P style="  background-color: unset;font-size: 10px;">TASA DE INTERES </P>
                                <P style="  background-color: unset;font-size: 10px;"> INTERES GANADO </P>
                            </div>
                        </div>
                        <div style="
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: end;
                        align-items: end;
                        background-color: unset;
                        color: #FFF;">
                            <div style="background-color: unset;">
                                <button style="padding: 8px 18px;
                                border-radius: 6px;
                                background-color: #FFF;
                                color: orange;
                                font-size: 12px;">VER MOVIMIENTO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="background-color: unset;">
                <div class="">
                    <div class="" style="border-radius: 6px;
                    padding: 10px;
                    background-color: #FFFFFF;margin: 30px 0;min-height: 230px;">
                        <div style="min-height: 165px;
                       background-color: unset;">
                            <img src="https://img.freepik.com/vector-gratis/hombre-muestra-gesto-gran-idea_10045-637.jpg?w=740&t=st=1664423441~exp=1664424041~hmac=df30767b6cb49e03df5419ce821616daf7c049cc5bfe24980f0019ced6aeadf6"
                                alt="" style="max-height: 165px;">
                        </div>
                        <div style="
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: end;
                        align-items: end;
                        background-color: unset;
                        color: #FFF;">
                            <div style="background-color: unset;">
                                <button style="padding: 8px 18px;
                                border-radius: 6px;
                                background-color: #FFF;
                                color: orange;
                                font-size: 12px;">VER MOVIMIENTO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #757071;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* .container {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
} */

img {
    width: 100%;
    height: 300px;
}

.box {
    height: 30rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

/* 
  
  
  .foo-car {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
  } */
